/* @import url("../src/Components/style.css"); */

.App {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex-direction: column;
  background: #00294a;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.switch {
  position: relative;
  margin: 20px;
  border: 1px solid #0ebd99;
  border-radius: 20px;
  padding: 4px 30px;
  background: #282c34;
}

.switch-inner {
  transition: 01s;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #0ebd99;
  border-radius: 50%;
  margin: -0.8px 0px 0px -65px;
  background: #fff;
}

.switch.active .switch-inner {
  margin: 0.5px 0px 0px 4px;
  background: #282c34;
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  border: 1px solid #0ebd99;
  border-radius: 50%;
}

.switch.active {
  background: #fff;
}

.th-clr {
  color: #fff;
}

.switch.active .th-clr {
  color: #000;
}