.border {
  border: 10px solid #dc143c;
  border-radius: 20px;
  width: 98%;
  height: auto;
  margin: 10px 0;
  padding-bottom: 30px;
  color: #fff;
  background: #00000f;
  line-height: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.multiBorderContainer {
  border: 10px solid #a200ff;
  width: 90%;
  background: #00294a;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 20px;
}

.clickBtn {
  border: 1px solid #0eb;
  padding: 4px 10px;
  font-size: 1.5rem;
  color: #fff;
  background: rgb(32, 89, 110);
  margin: 50px 0;
  border-radius: 4px;
  letter-spacing: 0.05rem;
  transition: .5s;
}

.clickBtn:hover {
  letter-spacing: 0.25rem;
}

.showText {
  /* display: none; */
  border: 2px solid #fff;
  border-radius: 25px;
  margin-top: 50px;
  width: 65%;
  height: 325px;
  padding: 10px;
  line-height: 1.1;
}

.showText h1 {
  padding: 3px 8px;
  background: #0eb57d;
  border-radius: 12px;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
  color: #000000;
}

.showText p {
  font-size: 18px;
  word-wrap: break-word;
  word-break: break-all;
  color: #ccc;
}

.showText.active {
  display: block;
}

.peraSec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt_50 {
  padding-top: 50px;
}

.mark {
  margin-left: 20px;
  color: #00aa99;
  letter-spacing: 0.1rem;
}

.lh {
  line-height: 1.1;
}

.textarea {
  width: 350px;
  height: 100px;
  outline: none;
  resize: none;
  border: 2px solid #1876f2;
  background: #00294a;
  color: #ccc;
  margin-left: 10px;
  padding: 8px;
  font-size: 19px;
  margin-top: 20px;
}

.tmar{
  margin: 0 0 -50px 20px;
}

.h1mar{
  margin: 80px 0 20px 0;
}